
 <div id = "container">
  <div  id="munene">
     
    <img src="images/nene.jpg">


      <div class="para1" >
          <p>
          Munene B.girl Begale<br>
           Shikwambana<br>
           </p>
      </div>
  
 
  
  
</div>
<div class="row">


  <div class="column">
    <h2>Experience</h2>
    <p>
      Server Configuration
      Support Users<br>
      Data Backups<br>
      Sotware Users<br>
      Data Capture<br>
      
    </p>
    <h2>School Education</h2>
    <p>
      Grade 12<br>
      Zivuko High School <br>
      Year:2011<br>
      Diploma in Information Technology<br>
      PC Training and Business College<br>
      Year:2014<br>
    </p>
    <h2>Attitude</h2>
    <p>
        Achieving personal work goals and objective<br>
        Adpting and responding change<br>
        Delivering result and meeting customers expectation<br>
        Following instrutions and procedures<br>

    </p>

    <h2>Personal Attributes</h2>
    <p>
      Computer literacy<br>
      Ability to work under pressure and travelling cannot be problem<br>
      Creative and innovative thinking<br>
      Ability to create and sustain relationships<br>

      </p>


  
    <h2>References</h2>
      <p>
        <li>PC Training and Business College (Manager) Mr Praveen</li>
        &nbsp; &nbsp;&nbsp;&nbsp;Contacts:012 928 9228<br>
        <li>Zivuko High School(Principal) Mr P.L Mokoena</li>
        &nbsp; &nbsp; &nbsp;&nbsp;Contacts:083 458 2581/071 658 4920
        <li> Greater Tzaneen Municipality(Supervisor) <br>
          &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp;Mr M Sibuyi</li>
        &nbsp; &nbsp; &nbsp;&nbsp;Contacnts:015 307 8278/061 446 8776
      
         
           

      </p>
     
  </div>


  <div class="column">
    
    <h2>Contants</h2>
    <p>
      Email:muneneshiks@gmail.com<br>
      Cell:073 691 7488<br>
      Address:782 Zakariya park<br>

    <h2>Profile</h2>
    <p>
        Accomplished Mobile Application Developer who is able to create
         mobile applications for every mobile software operating system
          platform. Adept at developing apps based on customer specifications 
          recommending application changes to make more efficient programs and
           upgrading existing apps to make them more useful. Specializes in
            corporate and industrial applications.
    </p>
    <h2>Languages</h2>
    <p>
     English-Excellent<br>
     Xitsonga-Excellent<br>
     Venda-Good<br>
     Sepedi-Good<br>
     SiZulu-Fair<br>
    </p>
    <h2>Professional Skills</h2>
    <p>
        Microsoft Office <br>
        Html and CSS<br>
        Good communication skills<br>
        Good interpersonal skills<br>
        Team Leader<br>
        Problem solving skills<br>
        Negotiations and resolution skills<br>
    </p>
  
    <h2>Objective</h2>
    <p>
      My goal is to learn as much as possible about the corporate and work 
      my way up to position that matches my ambition.<br>
    </p>

    <div class="footer">
      <p>&copy; 2018 Munene B.girl</p>
    </div>
  </div>
</div>
